<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Your SaneBox Interview!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">SaneBox Test</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <% if flash[:error] %>
      <div class="flash error"><%= flash[:error]%></div>
    <% end %>
    <% if flash[:notice] %>
      <div class="flash notice"><%= flash[:notice]%></div>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>


